<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for ad in ads %}
        <div class="col">
          <div class="card shadow-sm">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <h4 class="card-title">{{ ad.title }}</h4>
                    <p class="card-text text-muted">{{ ad.category }}</p>
                  </div>
                      <h6 class="card-subtitle mb-2 text-muted">{{ ad.date }}</h6> 
                    <p class="card-text" >{{ ad.text|truncatewords:10 }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-text">Максимальная цена: {{ ad.max_price }} руб</h5>
                    </div>
                </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>