{% extends 'ad/base.html' %}
{% load humanize %}

{% block title %}
{{ other_ad.title }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h3>{{ ad.title }}</h3>
            <p>Опубликовано {{ ad.date }}</p>
            <hr>
            <h6>{{ ad.text }}</h6>
            <div>
                <p style="display: inline-block;">Максимальная цена:</p> 
                <h4 style="display: inline-block; ">{{ ad.max_price | intcomma }} руб.</h4>
            </div>
            <div>
                <a href="{% url 'edit_other_ad' ad.id %}">Изменить</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}