{% extends 'ad/base.html' %}

{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tr>
            <td>Логин: </td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>{{ user_form.first_name.label_tag }}</td>
            <td>{{ user_form.first_name }}</td>
        </tr>
        <tr>
            <td>{{ user_form.last_name.label_tag }}</td>
            <td>{{ user_form.last_name }}</td>
        </tr>
        <tr>
            <td>{{ user_form.email.label_tag }}</td>
            <td>{{ user_form.email }}</td>
        </tr>
        <tr>
            <td>{{ user_form.phone_number.label_tag }}</td>
            <td>{{ user_form.phone_number }}</td>
        </tr>
        <tr>
            <td>{{ user_form.avatar.label_tag }}</td>
            <td>{{ user_form.avatar }}</td>
        </tr>
        <tr>
            <td><a href="{% url 'password_change' %}">Изменить пароль</a></td>
        </tr>
    </table>
    <input type="submit" value="Сохранить">
    <input type="hidden" name="next" value="{% url 'profile' %}">
</form>
{% endblock %}