{% extends 'ad/base.html' %}

{% block content %}

<form method="post" action="{% url 'registration' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>Логин: </td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>{{ extend_form.first_name.label_tag }}</td>
            <td>{{ extend_form.first_name }}</td>
        </tr>
        <tr>
            <td>{{ extend_form.last_name.label_tag }}</td>
            <td>{{ extend_form.last_name }}</td>
        </tr>
        <tr>
            <td>{{ extend_form.email.label_tag }}</td>
            <td>{{ extend_form.email }}</td>
        </tr>
        <tr>
            <td>{{ custom_form.phone_number.label_tag }}</td>
            <td>{{ custom_form.phone_number }}</td>
        </tr>
        <tr>
            <td>{{ custom_form.avatar.label_tag }}</td>
            <td>{{ custom_form.avatar }}</td>
        </tr>
    </table>
    <input type="submit" value="Сохранить">
    <input type="hidden" name="next" value="{% url 'profile' %}">
</form>
{% endblock %}