{% extends 'ad/base_create_form.html' %}

{% block extend_content %}
<div class="row g-3 align-items-center mb-3">
    <div class="col-auto">
        <label class="col-form-label" for="square_input"><b>Желаемая площадь: </b></label>
    </div>
    <div class="col-auto">
        {{ form.square }}
    </div>
</div>
<div class="row g-3 align-items-center mb-3">
    <div class="col-auto">
        <label class="col-form-label" for="location_input"><b>Район поиска: </b></label>
    </div>
    <div class="col-auto">
        {{ form.location }}
    </div>
</div>
{% endblock %}